body {
  margin: 0;
  background: #292b3a;
}

#nav {
  width:800px;
  height:35px;
  color:white;
  text-align:center;
  position:absolute;
  left:30%;
}

#nav ul {
  padding: 0;
  list-style: none;
  width:800px;
  margin:0 auto;
}

#nav li {
  display:inline;
  padding:5px;
  
}

#nav a:hover {
  color:#F90;
  background-color:#FFF;
  
}

#main {
  text-align:center;
  padding:10px;
  border-radius:5px;
  margin:0;
  
}
  



#center { margin-left:auto;margin-right:auto;width:1000px; }
