body {
  margin: 0;
  background: #292b3a;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: #b0e0e6;
}


.container {
  width: 302px;
  padding: 0px;
  border: 4px solid gray;
  margin: 0px;
  
}


#center { margin-left:auto;margin-right:auto;width:1000px; }
