body {
  margin: 0;
  background: #292b3a;
}

#nav {
  width:550px;
  height:35px;
  color:white;
  text-align:center;
  padding:5px;
  border-radius:6px;
}

#nav ul {
  height:auto;
  padding:8px 0px;
  margin:0px;
}

#nav li {
  display:inline;
  padding:20px;
  
}

.container {
  width: 302px;
  padding: 0px;
  border: 4px solid gray;
  margin: 0px;
  
}


#center { margin-left:auto;margin-right:auto;width:1000px; }
